<div class="row" ng-controller="ContactsCtrl">
    <div class="large-10 columns">
    <div data-alert class="alert-box" ng-show="msg">{{msg}}</div>

    <!--Show Contact-->
    <div class="row" ng-show="contactShow">
        <div class="panel">
            <h3>{{newcontact.name}}</h3>
            <ul>
                <li><strong>Company</strong>: {{newcontact.company}}</li>
                <li><strong>Email Address</strong>: {{newcontact.email}}</li>
                <h5>Phone Numbers</h5>
                <li><strong>Work</strong>: {{newcontact.work_phone}}</li>
                <li><strong>Home</strong>: {{newcontact.home_phone}}</li>
                <li><strong>Mobile</strong>: {{newcontact.mobile_phone}}</li>
                <h5>Location Info</h5>
                <li>{{newcontact.street_address}}</li>
                <li>{{newcontact.city}}, {{newcontact.state}} {{newcontact.zipcode}}</li>
            </ul>
        </div>
    </div>

    <!-- Add Contact-->
    <!-- Edit Contact-->
    <form ng-show="addFormShow">
            <h3>Add Contact</h3>
            <!-- Add Form -->
            <div class="row">
                <div class="large-6 columns">
                  <label>Name:
                    <input type="text" ng-model="newcontact.name" placeholder="Contact Name" required />
                  </label>
                </div>
                <div class="large-6 columns">
                  <label>Email:
                    <input type="text" ng-model="newcontact.email" placeholder="Contact Email" required />
                  </label>
                </div>
             </div>
             <div class="row">
                 <div class="large-6 columns">
                   <label>Company:
                     <input type="text" ng-model="newcontact.company" placeholder="Company Name" required />
                   </label>
                 </div>
                 <div class="large-6 columns">
                   <label>Work Phone:
                     <input type="text" ng-model="newcontact.work_phone" placeholder="Work Phone" required />
                   </label>
                 </div>
              </div>
              <div class="row">
                  <div class="large-6 columns">
                    <label>Mobile Phone:
                      <input type="text" ng-model="newcontact.mobile_phone" placeholder="Mobile Phone" required />
                    </label>
                  </div>
                  <div class="large-6 columns">
                    <label>Home Phone:
                      <input type="text" ng-model="newcontact.home_phone" placeholder="Home Phone" required />
                    </label>
                  </div>
               </div>
               <div class="row">
                   <div class="large-6 columns">
                     <label>Street Address:
                       <input type="text" ng-model="newcontact.street_address" placeholder="Street Address" required />
                     </label>
                   </div>
                   <div class="large-6 columns">
                     <label>City:
                       <input type="text" ng-model="newcontact.city" placeholder="City" required />
                     </label>
                   </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                      <label>State:
                        <input type="text" ng-model="newcontact.state" placeholder="State" required />
                      </label>
                    </div>
                    <div class="large-6 columns">
                      <label>Zip Code:
                        <input type="text" ng-model="newcontact.zipcode" placeholder="Zip Code" required />
                      </label>
                    </div>
                 </div>
             <div class="row">
                <div class="large-12 columns">
                    <input type="hidden" ng-model="newcontact.id" />
                    <input type="submit" ng-click="addFormSubmit()" value="Add Contact" class="button" />
                </div>
             </div>
    </form>

        <h3>Your Contacts ({{contacts.length}})</h3>
        <table>
            <thead>
                <tr>
                    <th width="200px">Name</th>
                    <th width="200px">Company</th>
                    <th width="25%">Email</th>
                    <th width="25%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts">
                    <td><a ng-click="showContact(contact.id)">{{contact.name}}</a></td>
                    <td>{{contact.company}}</td>
                    <td>{{contact.email}}</td>
                    <td>
                        <a class="button tiny" ng-click="showEditForm(contact.id)">Edit</a>
                        <a class="button tiny alert" ng-click="removeContact(contact.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="large-2 columns">
        <a class="button large" ng-click="showAddForm()" ng-hide="addFormShow">+</a>
        <a class="button large" ng-click="hide()" ng-show="addFormShow">-</a>
        <a class="button large" ng-click="hide()" ng-show="contactShow">-</a>
    </div>
</div>
